%ul.breadcrumb_nav
  %li
    Kulunki
  %li
    Household Name
  %li
    Current Period

%nav.profile
  %ul
    %li
      = link_to profile_path do
        %span.username
        = current_user.username
      %ul
        %li
          = link_to 'Sign Out', signout_path, class: :signout
