%ul.breadcrumb_nav
  %li
    Kulunki
  %li
    Household Name
  %li
    Current Period

= link_to current_user.username, profile_path, class: :username
= link_to 'Sign Out', signout_path, class: :signout
